<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="log.path" value="C:\Temp\ArxPkNext.log" />
		<add key="server.host" value="*" />
		<add key="server.port" value="4321" />
		<add key="arxivar.host" value="localhost" />
		<add key="arxivar.port" value="8740" />
		<add key="arxivar.username" value="username" />
		<add key="arxivar.password" value="password" />
		<add key="arxivar.aoo" value="DEMO" />
		<add key="arxivar.addressBook" value="Richieste" />
		<add key="arxivar.documentType" value="DOC.TYPE" />
		<add key="arxivar.documentState.BEFORE" value="DA FIRMARE" />
		<add key="arxivar.documentState.AFTER" value="DA VALIDARE" />
		<add key="arxivar.redirectTo" value="https://example.com/redirectUrl" />
	</appSettings>
</configuration>
